/* Main Page */

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;
    box-sizing: border-box;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 350px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.main-content {
    background-color: #191919;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem
}

.music-player {
    background-color: black;
    height: 90px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

/* Side-Navigation Bar */

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.6;
    padding: 0.5rem 0.75rem;
}

.nav-option i {
    font-size: 1.25rem;
    padding: 0.5rem;
}

.nav-option a {
    font-size: 1rem;
}

.nav-option:hover {
    opacity: 1;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.75rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-options img {
    height: 1.25rem;
    width: 1.25rem;
    padding-right: 0.5rem;
}

.icon {
    font-size: 1.25rem;
    display: flex;
}

.icon i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icon i:hover {
    opacity: 1;
}

.boxes {
    height: 10rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 1.75rem 0;
    padding: 0.75rem 1.25rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 700;

}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.75;
}

.badge {
    height: 2rem;
    width: fit-content;
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

/* Main Content Navigation Bar */

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.nav-directions img {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
}

.nav-profile-items {
    margin: 0 1rem;
}

@media (max-width: 1000px) {
    .forward {
        display: none;
    }

    .premium {
        display: none;
    }

}

@media(max-width: 613px) {
    .nav-profile-items-download {
        font-size: 0.9rem;
    }
}

@media(max-width: 603px) {
    .nav-profile-items-download {
        font-size: 0.8rem;
    }
}

@media(max-width: 568px) {
    .nav-profile-items-download {
        display: none;
    }
}

@media(max-width: 663px) {
    .nav-profile-items {
        display: none;
    }
}

/* Main Content  Albums */

.card {
    background-color: #181818;
    width: 225px;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 0.5rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.card-image {
    width: 100%;
    border-radius: 0.5rem;

}

.card-tittle {
    font-weight: 600;
    font-size: 1.25rem;
}

.card-info {
    font-size: 0.9rem;
    opacity: 0.85;
}

.card:hover {
    background-color: #252525;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 98%;
    height: 50%;
    border-top: 3px solid white;
    opacity: 0.3;
}

/* Music-palyeer player */

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player {
    width: 50%;
}

.player-control {
    display: flex;
    justify-content: center;
    align-items: center;

}

.player-control-icon {
    height: 1rem;
    margin: 1rem 1rem 0 1rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.play-pause {
    opacity: 1;
    height: 2rem;
}

.play-pause:hover {
    height: 2.25rem;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 80%;
    margin: 1rem 1rem 1rem 1rem;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    touch-action: none;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: white;
    border-radius: 100px;
    height: 0.3rem;
}

.progress-bar::-webkit-slider-runnable-track:hover {
    background-color: green;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: lightgray;
    border-radius: 50%;
    margin-top: -6px;
}


/* Music-player playing-album */
.album {
    width: 25%;
    display: flex;
}


.album-img img {
    z-index: 2;
    height: 4rem;
    position: relative;
    top: 0.1rem;
    right: 0.1rem;
    margin: 0.25rem;
    border-radius: 0.6rem;
}

.album-info {
    font-size: 1rem;
    font-weight: 532;
    overflow: hidden;
}

.album-info span {
    margin: 0.5rem 0.25rem 0 0.25rem;
    vertical-align: baseline;
}

.album-info span:hover {
    text-decoration: underline;
}


.album-artist {
    margin: 0.5rem;
    font-size: 1rem;
    opacity: 0.6;
    display: flex;
    flex-wrap: nowrap;
}

.album-icons {
    display: flex;
    z-index: 2;

}

.album-icons span {
    font-size: 1rem;
    vertical-align: baseline;
}

.heart-add {
    margin: 0.2rem;
}

@media(max-width: 1149px) {
    .album-img img {
        height: 3.5rem;
    }

    .album-info {
        font-size: 0.8rem;
    }

    .album-artist {
        font-size: 0.8rem;
    }

    .album-icons i {
        font-size: 0.8rem;
    }

    .album-icons span {
        font-size: 0.8rem;
    }
}

@media(max-width: 781px) {
    .album-img img {
        height: 3.0rem;
    }

    .album-info {
        font-size: 0.6rem;
    }

    .album-artist {
        font-size: 0.6rem;
    }

    .album-icons i {
        font-size: 0.6rem;
    }

    .album-icons span {
        font-size: 0.6rem;
    }
}

@media(max-width: 580px) {
    .album-img img {
        height: 2.5rem;
    }

    .album-info {
        font-size: 0.5rem;
    }

    .album-artist {
        font-size: 0.5rem;
    }

    .album-icons i {
        font-size: 0.5rem;
    }

    .album-icons span {
        font-size: 0.5rem;
    }
}

@media(max-width: 466px) {
    .album-img img {
        z-index: 2;
        height: 4rem;
        position: relative;
        top: 0.1rem;
        right: 0.1rem;
        margin: 0.25rem;
        border-radius: 0.6rem;
    }

    .album-info {
        display: none;
    }

    .album-artist {
        display: none;
    }

    .album-icons i {
        display: none;
    }

    .album-icons span {
        display: none;
    }
}

@media(max-width:400px) {
    .album-img img {
        height: 3.0rem;
    }
}

/* Music-player player-controls */
.controls {
    width: 25%;
    display: flex;
    justify-content: center;
}

.switch-devices {
    display: flex;
    margin-left: 1rem;
    height: 1rem;
    width: 0.5rem;
}

.volume-bar {
    position: relative;
    bottom: 1.28rem;
    left: 0.15rem;
    right: 0.15rem;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.volume-bar::-webkit-slider-runnable-track {
    background-color: white;
    border-radius: 100px;
    height: 0.3rem;
}

.volume-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: lightgray;
    border-radius: 50%;
    margin-top: -5px;
}